.activity {
  padding-bottom: 94px;
}

.images-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: 0;
}

.images-set__item {
  position: relative;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 0;
}

.images-set__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  padding: 27px 0px;
  background-color: rgba(47, 48, 58, 0.8);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}
