.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo__footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-logo-text-color);
  display: block;
  margin-bottom: 20px;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.logo--static {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-logo-text-color);
}

.footer__contacts {
  display: block;
}

.footer__address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.717;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  margin-bottom: 9px;
}

.contacts-link--color {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__item--noflex {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.join-block__action {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-text-color);
  margin-bottom: 20px;
}

.footer__container {
  display: flex;
  align-items: start;
}

.join-block {
  margin-left: 70px;
}

.sotial--grey {
  display: flex;
  justify-content: center;
}

.sotial--grey__item {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sotial--grey__item + .sotial--grey__item {
  margin-left: 10px;
}

.sotial--grey__link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.sotial--grey__icon {
  fill: #ffffff;
}

.subscribe {
  margin-left: auto;
}

.subscribe__action {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-text-color);
  margin-bottom: 20px;
}

.subscribe__from {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__icon {
  margin-left: 10px;
}
