.hero {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-button-color);
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--first-button-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.card-set__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin-bottom: 4px;
}

.card-set__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__link:not(:last-child) {
  margin-right: 8px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.card-set__item {
  flex-basis: calc(100% / 9 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
}

.card-set__wrap {
  position: relative;
  overflow: hidden;
}

.card-set__text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-style: 400;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  color: var(--second-title-color);
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  overflow: auto;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .card-set__item:hover & {
    transform: translateY(0);
  }
}

.card-set__meta {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
}
