:root {
  --main-title-color: #212121;
  --second-title-color: #ffffff;
  --main-text-color: #757575;
  --header-nav-text-color: #212121;
  --header-address-color: #757575;
  --first-logo-text-color: #2196f3;
  --second-logo-text-color: #000000;
  --third-logo-text-color: #ffffff;
  --footer-text-color: #ffffff;
  --first-button-color: #ffffff;
  --second-button-color: #212121;
  --accent-color: #2196f3;
  --second-accent-color: #188ce8;
}
